In [157]:
from datasets import wine_red_dataset, wine_white_dataset
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd

wine_red = wine_red_dataset().drop('ID', axis=1)
wine_red.dropna(how='all', inplace=True)

wine_white = wine_white_dataset()

# Modeling-Missing Values

Information from the exploration: Missing values in the pH (15 values) and fixed acidity (17 values) data

Fixed acidity is a missing at random value: In our case, missing fixed acidity values can be calculated from the citric acid values.     PH seem to be missing completely at random: There is no major correlation with other features

Fixed acidity missing values are calculated by a multiple imputation because the estimation can provide
more realistic standard errors. The multiple Imputation creates multiple data
with different estimations. The results of different models are
averaged or combined.

In [158]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import numpy as np
from datasets import show_mvs

columns = ['fixed acidity','citric acid']
w_red_imp=wine_red[columns]
mvs = show_mvs(w_red_imp)

display(w_red_imp)

imp = IterativeImputer(max_iter=20)
transformed_x= imp.fit_transform(w_red_imp)
df_missing_v=pd.DataFrame(transformed_x, columns=columns)
display("Regression imputed fixed acidity: \n", df_missing_v.loc[mvs.index])
wine_red['fixed acidity'] = df_missing_v['fixed acidity']
show_mvs(wine_red)
print()

      fixed acidity  citric acid
22              NaN         0.21
61              NaN         0.49
97              NaN         0.25
187             NaN         0.10
274             NaN         0.18
409             NaN         0.49
410             NaN         0.34
411             NaN         0.35
412             NaN         0.16
753             NaN         0.10
759             NaN         0.21
1425            NaN         0.37
1426            NaN         0.37
1427            NaN         0.33
1428            NaN         0.00
1447            NaN         0.00
1540            NaN         0.08

      fixed acidity  citric acid
0               7.4         0.00
1               7.8         0.00
2               7.8         0.04
3              11.2         0.56
4               7.4         0.00
...             ...          ...
1592            6.2         0.08
1593            5.9         0.10
1594            6.3         0.13
1595            5.9         0.12
1596            6.0         0.47

[1597 rows x 2 columns]

'Regression imputed fixed acidity: \n'

      fixed acidity  citric acid
22         7.956331         0.21
61         9.638865         0.49
97         8.196693         0.25
187        7.295336         0.10
274        7.776060         0.18
409        9.638865         0.49
410        8.737508         0.34
411        8.797598         0.35
412        7.655879         0.16
753        7.295336         0.10
759        7.956331         0.21
1425       8.917779         0.37
1426       8.917779         0.37
1427       8.677417         0.33
1428       6.694432         0.00
1447       6.694432         0.00
1540       7.175155         0.08

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,flavanoids,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,magnesium,alcohol,lightness,quality
11,7.5,0.50,0.36,6.1,0.07,0.53,17.0,102.0,1.00,NaN,0.80,0.42,10.50,0.101,5.0
606,9.4,0.41,0.48,4.6,0.07,0.53,10.0,20.0,1.00,NaN,0.79,0.80,12.20,0.088,7.0
607,8.8,0.48,0.41,3.3,0.09,0.53,26.0,52.0,1.00,NaN,0.53,0.56,10.50,0.096,6.0
608,10.1,0.65,0.37,5.1,0.11,0.53,11.0,65.0,1.00,NaN,0.64,0.21,10.40,0.105,6.0
948,8.9,0.12,0.45,1.8,0.08,0.53,10.0,21.0,1.00,NaN,0.76,0.69,11.90,0.086,7.0
1162,8.5,0.32,0.42,2.3,0.08,0.53,12.0,19.0,0.99,NaN,0.71,0.39,11.80,0.093,7.0
1163,9.0,0.79,0.24,1.7,0.08,0.53,10.0,21.0,1.00,NaN,0.67,0.58,10.00,0.105,5.0
1164,9.0,0.79,0.24,1.7,0.08,0.53,10.0,21.0,1.00,NaN,0.67,0.79,10.00,0.102,5.0
1369,6.6,0.61,0.00,1.6,0.07,0.53,4.0,8.0,0.99,NaN,0.37,0.05,10.40,0.103,4.0
1370,8.7,0.78,0.51,1.7,0.42,0.53,12.0,66.0,1.00,NaN,1.17,0.91,9.20,0.111,5.0
1371,7.5,0.58,0.56,3.1,0.15,0.53,5.0,14.0,0.99,NaN,1.03,0.70,11.60,0.092,6.0
1372,8.7,0.78,0.51,1.7,0.42,0.53,12.0,66.0,1.00,NaN,1.17,0.89,9.20,0.115,5.0
1395,8.6,0.69,0.10,1.6,0.09,0.53,3.0,12.0,1.00,NaN,0.65,0.16,9.55,0.107,6.0
1587,7.2,0.66,0.33,2.5,0.07,0.53,34.0,102.0,0.99,NaN,0.78,0.20,12.80,0.082,6.0
1592,6.2,0.60,0.08,2.0,0.09,0.53,32.0,44.0,0.99,NaN,0.58,0.98,10.50,0.102,5.0

PH seem to be missing completely at random: There is no major correlation with other features, average imputation is used because it handle missling completely at randoms, ML imputation is not used because the algorithm needs a missing at random, no regression imputation is used because the exploration showed that there is no correlation with other features. The median is used for the average impuation because it's not affected by outliers.

In [159]:
import numpy as np
from sklearn.impute import SimpleImputer
np.set_printoptions(threshold=np.inf)

x= wine_red[['pH']]

#Average Imputation using strategy='median'
imp_med = SimpleImputer(missing_values=np.nan, strategy='median')
imp_med.fit(x)
SimpleImputer()
ph_new = imp_med.transform(x)
#display(ph_new)
wine_red['pH']=ph_new
display(wine_red.head(10))

display(wine_red.isna().sum())

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,flavanoids,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,magnesium,alcohol,lightness,quality
0,7.4,0.70,0.00,1.9,0.08,0.53,11.0,34.0,1.00,3.51,0.56,0.86,9.4,0.109,5.0
1,7.8,0.88,0.00,2.6,0.10,0.53,25.0,67.0,1.00,3.20,0.68,0.56,9.8,0.107,5.0
2,7.8,0.76,0.04,2.3,0.09,0.53,15.0,54.0,1.00,3.26,0.65,0.47,9.8,0.106,5.0
3,11.2,0.28,0.56,1.9,0.08,0.53,17.0,60.0,1.00,3.16,0.58,0.33,9.8,0.111,6.0
4,7.4,0.70,0.00,1.9,0.08,0.53,11.0,34.0,1.00,3.51,0.56,0.91,9.4,0.107,5.0
5,7.4,0.66,0.00,1.8,0.08,0.53,13.0,40.0,1.00,3.51,0.56,0.52,9.4,0.109,5.0
6,7.9,0.60,0.06,1.6,0.07,0.53,15.0,59.0,1.00,3.30,0.46,0.92,9.4,0.108,5.0
7,7.3,0.65,0.00,1.2,0.07,0.53,15.0,21.0,0.99,3.39,0.47,0.89,10.0,0.104,7.0
8,7.8,0.58,0.02,2.0,0.07,0.53,9.0,18.0,1.00,3.36,0.57,0.10,9.5,0.108,7.0
9,7.5,0.50,0.36,6.1,0.07,0.53,17.0,102.0,1.00,3.35,0.80,0.57,10.5,0.100,5.0

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
flavanoids              0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
magnesium               0
alcohol                 0
lightness               0
quality                 0
dtype: int64

# Feature selection

calculate information gain and vif after handling missing values. Compare it to results from exploration phase

In [160]:
from datasets import get_kbest_sorted
from sklearn.feature_selection import mutual_info_regression
x = wine_red.drop('quality', axis=1)
y = wine_red['quality']
get_kbest_sorted(mutual_info_regression, x, y, 25)

                         score
alcohol               0.185173
lightness             0.130574
volatile acidity      0.118262
sulphates             0.111197
total sulfur dioxide  0.078755
citric acid           0.066684
fixed acidity         0.056641
residual sugar        0.035735
free sulfur dioxide   0.028836
density               0.025872
pH                    0.023183
chlorides             0.021728
magnesium             0.006988
flavanoids            0.000509

In [161]:
from datasets import get_vifs

x = wine_red.drop('quality', axis=1)
vif_factors = get_vifs(x)
display(vif_factors)
x = wine_red.drop('quality', axis=1).drop('lightness',axis=1)
vif_factors = get_vifs(x)
display(vif_factors)

fixed acidity                2.32
volatile acidity             1.74
citric acid                  3.14
residual sugar               1.13
chlorides                    1.39
flavanoids              139527.70
free sulfur dioxide          1.93
total sulfur dioxide         2.11
density                      1.65
pH                           1.00
sulphates                    1.36
magnesium                    1.00
alcohol                     10.70
lightness                    9.99
dtype: float64

fixed acidity                2.32
volatile acidity             1.74
citric acid                  3.14
residual sugar               1.13
chlorides                    1.39
flavanoids              132477.09
free sulfur dioxide          1.93
total sulfur dioxide         2.10
density                      1.64
pH                           1.00
sulphates                    1.35
magnesium                    1.00
alcohol                      1.68
dtype: float64

missing values don't seem to have a big effect on information gain and vif

In [171]:
X = wine_red.drop('quality', axis=1)
y = wine_red['quality']
score_before = get_logist_regression_score(X,y)
print('Score before: ', score_before)

selected_features = ['alcohol', 'sulphates', 'citric acid', 'volatile acidity', 'total sulfur dioxide', 'quality']
wine_red = wine_red[selected_features]

X = wine_red.drop('quality', axis=1)
y = wine_red['quality']

score_after = get_logist_regression_score(X,y)
print('Score after: ', score_after)

Score before:  0.58125
Score after:  0.55625

Compare result to PCA

In [141]:
# import numpy as np
# import pandas as pd

# from sklearn import decomposition

# #Perform PCA with 3 dimensions
# num_components=3
# pca = decomposition.PCA(n_components=2)
# #Only use features
# x=wine_red.drop('quality', axis=1)
# pca.fit(x)
# x_tran = pca.transform(x)

# X = wine_red.drop('quality', axis=1)
# y = wine_red['quality']
# score_before = get_logist_regression_score(X,y)
# print('Score before: ', score_before)
# score_after = get_logist_regression_score(x_tran,y)
# print('Score after: ', score_after)

# Outliers

Outlier Detection

In [142]:
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import IsolationForest
from datasets import get_logist_regression_score, show_mvs

display(wine_red.shape)
X = wine_red.drop('quality', axis=1)
y = wine_red['quality']

iso = IsolationForest(contamination=0.01)
y_out = iso.fit_predict(X)

score_before = get_logist_regression_score(X,y)
print('Score before: ', score_before)

# build a mask to select all rows that are not outliers (inlier=1, outlier=-1)
mask = y_out != -1
X_inlier, y_inlier = X[mask], y[mask]
X_outliers, y_outliers = X[~mask], y[~mask]

score_after = get_logist_regression_score(X_inlier,y_inlier)
print('Score after: ', score_after)

# Inliers vs. Outliers
print("Inliers: ",X_inlier.shape[0],"Outliers:",X_outliers.shape)
display('Outliers data:', X_outliers)

wine_red = X_inlier
wine_red['quality'] = y_inlier

(1597, 6)

Score before:  0.5604166666666667
Score after:  0.56
Inliers:  1581 Outliers: (16, 5)

'Outliers data:'

      alcohol  sulphates  citric acid  volatile acidity  total sulfur dioxide
86        9.9       1.95         0.28              0.49                 136.0
91        9.9       1.95         0.28              0.49                 136.0
92        9.8       1.98         0.29              0.49                 133.0
142      14.0       0.79         0.00              0.34                  63.0
144      14.0       0.79         0.00              0.34                  63.0
151       9.4       2.00         1.00              0.52                  69.0
354      11.9       0.59         0.40              0.21                 165.0
378      13.3       0.99         0.66              0.63                  24.0
515       9.3       1.14         0.49              0.66                 151.0
651      11.2       0.67         0.25              0.88                 155.0
672       9.5       0.53         0.34              1.24                 151.0
723       9.5       1.62         0.30              0.31                 127.0
1079     12.3       0.51         0.68              0.30                 278.0
1081     12.3       0.51         0.68              0.30                 289.0
1299     10.9       0.40         0.00              1.58                   9.0
1319      9.1       1.33         0.68              0.76                  64.0

https://www.pluralsight.com/guides/cleaning-up-data-from-outliers

# Noise Handling

Our assumption: The found noise data are feature noises --> jedes feature nach diesem Vorgehen bearbeiten? Oder die 58 einfach Instance lÃ¶schen oder???

In [124]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.model_selection import cross_val_predict

# Define 3 classifiers
clf1 = LogisticRegression(multi_class='multinomial', random_state=1)
clf2 = RandomForestClassifier(n_estimators=50, random_state=1)
clf3 = GaussianNB()

# define data
x = wine_red.drop('quality', axis=1)
y = wine_red['quality']

# merge 3 classifiers into one voting classifier
eclf1 = VotingClassifier(estimators=[('lr', clf1), ('rf', clf2), ('gnb', clf3)], voting='hard')

# train voting classifier with k-fold method
y_pred = cross_val_predict(eclf1, x, y, cv=3)

# save predictions, original quality and correct prediction boolean in data frame
result = pd.DataFrame(y_pred, columns=['Prediction'], index=x.index)
result['quality'] = y
# mindestens 2 Abweichung
delta_treshold = 2
result['Correct Prediction']= abs(result['Prediction'] - result['quality']) < delta_treshold

display(result.shape)
display(result)

# select all incorrect predicted data
print('False predictions')
delta_result = result[result['Correct Prediction'] == False]
display(delta_result.shape)
display(delta_result)

# handle noise

(1581, 3)

      Prediction  quality  Correct Prediction
0            5.0      5.0                True
1            5.0      5.0                True
2            5.0      5.0                True
3            6.0      6.0                True
4            5.0      5.0                True
...          ...      ...                 ...
1592         6.0      5.0                True
1593         6.0      6.0                True
1594         6.0      6.0                True
1595         5.0      5.0                True
1596         6.0      6.0                True

[1581 rows x 3 columns]

False predictions

(60, 3)

      Prediction  quality  Correct Prediction
7            5.0      7.0               False
8            5.0      7.0               False
16           5.0      7.0               False
45           6.0      4.0               False
62           5.0      7.0               False
...          ...      ...                 ...
1505         5.0      3.0               False
1542         4.0      6.0               False
1549         6.0      8.0               False
1554         4.0      6.0               False
1557         4.0      6.0               False

[60 rows x 3 columns]

# Feature Scaling

In [134]:
from datasets import normalize_feature

wine_red = normalize_feature(wine_red, 'total sulfur dioxide')
display(wine_red)

,alcohol,sulphates,citric acid,volatile acidity,total sulfur dioxide,quality
0,9.4,0.56,0.00,0.70,0.181818,5.0
1,9.8,0.68,0.00,0.88,0.396104,5.0
2,9.8,0.65,0.04,0.76,0.311688,5.0
3,9.8,0.58,0.56,0.28,0.350649,6.0
4,9.4,0.56,0.00,0.70,0.181818,5.0
...,...,...,...,...,...,...
1592,10.5,0.58,0.08,0.60,0.246753,5.0
1593,11.2,0.76,0.10,0.55,0.292208,6.0
1594,11.0,0.75,0.13,0.51,0.220779,6.0
1595,10.2,0.71,0.12,0.65,0.246753,5.0
1596,11.0,0.66,0.47,0.31,0.233766,6.0