In [8]:
from datasets import popularity_dataset

popularity_data = popularity_dataset()

MV's

In [9]:
from datasets import show_mvs

mvs = show_mvs(popularity_data)

,days_article_dataset,number_words_title,number_words_content,rate_unique_words_content,rate_non_stop_words_content,rate_unique_non_stop_words_content,number_links,number_links_to_mashable,number_imgs,number_videos,...,min_polarity_in_positive_words,max_polarity_in_positive_words,avg_polarity_in_negative_words,min_polarity_in_negative_words,max_polarity_in_negative_words,title_sentiment_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
36,731,10.0,1244,0.417547,1.0,0.562579,27,22,20,0,...,0.033333,1.0,-0.230263,-0.6000,-0.050000,1.00,-0.600,0.50,0.600,7700
83,730,12.0,499,0.513026,1.0,0.662252,14,1,1,0,...,0.100000,0.5,-0.235000,-0.5000,-0.100000,0.30,0.000,0.20,0.000,1200
317,726,13.0,293,0.585366,1.0,0.759036,6,5,1,0,...,0.100000,0.6,-0.162500,-0.2000,-0.125000,0.50,0.500,0.00,0.500,1700
818,716,11.0,245,0.642241,1.0,0.773585,7,0,1,0,...,0.100000,0.5,-0.400000,-0.4000,-0.400000,0.00,0.000,0.50,0.000,560
1220,710,NaN,308,0.616667,1.0,0.714286,11,3,1,1,...,0.200000,0.6,0.000000,0.0000,0.000000,0.00,0.000,0.50,0.000,804
1221,710,NaN,435,0.458333,1.0,0.551020,3,2,1,13,...,0.100000,0.5,-0.350000,-0.7000,-0.125000,0.30,1.000,0.20,1.000,1200
1222,710,NaN,119,0.705882,1.0,0.861538,1,0,0,1,...,0.100000,1.0,-0.600000,-0.6000,-0.600000,0.00,0.000,0.50,0.000,8700
1223,710,NaN,993,0.449597,1.0,0.667870,2,1,1,0,...,0.100000,1.0,-0.285810,-0.8000,-0.050000,0.85,0.625,0.35,0.625,1900
1489,706,11.0,497,0.522634,1.0,0.713768,9,3,1,0,...,0.100000,1.0,-0.363333,-0.7000,-0.050000,0.00,0.000,0.50,0.000,3800
1716,702,10.0,659,0.357143,1.0,0.377320,44,40,31,1,...,0.100000,0.9,-0.183532,-0.3125,-0.071429,0.00,0.000,0.50,0.000,4300

## MV's in categories

### Find out the indexes

In [10]:
from datasets import get_mvs_of_features

categories = [
    'is_category_entertainment',
    'is_category_lifestyle',
    'is_category_business',
    'is_category_socialmedia',
    'is_category_tech',
    'is_category_world'
    ]

category_mvs = get_mvs_of_features(popularity_data,categories)
display(category_mvs[categories])

,is_category_entertainment,is_category_lifestyle,is_category_business,is_category_socialmedia,is_category_tech,is_category_world
36,0.0,0.0,0.0,0.0,NaN,0.0
83,0.0,NaN,0.0,0.0,0.0,0.0
317,0.0,0.0,0.0,NaN,0.0,0.0
818,0.0,0.0,NaN,0.0,0.0,0.0
1489,0.0,0.0,0.0,0.0,0.0,NaN
1716,NaN,0.0,0.0,0.0,0.0,0.0

### Correct values at indexes

In [11]:
popularity_data.at[category_mvs.iloc[0].name, 'is_category_tech'] = 1
popularity_data.at[category_mvs.iloc[1].name, 'is_category_lifestyle'] = 1
popularity_data.at[category_mvs.iloc[2].name, 'is_category_socialmedia'] = 1
popularity_data.at[category_mvs.iloc[3].name, 'is_category_business'] = 1
popularity_data.at[category_mvs.iloc[4].name, 'is_category_world'] = 1
popularity_data.at[category_mvs.iloc[5].name, 'is_category_entertainment'] = 1

In [12]:
category_mvs = get_mvs_of_features(popularity_data,categories)
display(category_mvs[categories])
show_mvs(popularity_data)

Empty DataFrame
Columns: [is_category_entertainment, is_category_lifestyle, is_category_business, is_category_socialmedia, is_category_tech, is_category_world]
Index: []

,days_article_dataset,number_words_title,number_words_content,rate_unique_words_content,rate_non_stop_words_content,rate_unique_non_stop_words_content,number_links,number_links_to_mashable,number_imgs,number_videos,...,min_polarity_in_positive_words,max_polarity_in_positive_words,avg_polarity_in_negative_words,min_polarity_in_negative_words,max_polarity_in_negative_words,title_sentiment_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
1220,710,NaN,308,0.616667,1.0,0.714286,11,3,1,1,...,0.2,0.6,0.00000,0.0,0.000,0.00,0.000,0.50,0.000,804
1221,710,NaN,435,0.458333,1.0,0.551020,3,2,1,13,...,0.1,0.5,-0.35000,-0.7,-0.125,0.30,1.000,0.20,1.000,1200
1222,710,NaN,119,0.705882,1.0,0.861538,1,0,0,1,...,0.1,1.0,-0.60000,-0.6,-0.600,0.00,0.000,0.50,0.000,8700
1223,710,NaN,993,0.449597,1.0,0.667870,2,1,1,0,...,0.1,1.0,-0.28581,-0.8,-0.050,0.85,0.625,0.35,0.625,1900

,days_article_dataset,number_words_title,number_words_content,rate_unique_words_content,rate_non_stop_words_content,rate_unique_non_stop_words_content,number_links,number_links_to_mashable,number_imgs,number_videos,...,min_polarity_in_positive_words,max_polarity_in_positive_words,avg_polarity_in_negative_words,min_polarity_in_negative_words,max_polarity_in_negative_words,title_sentiment_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
1220,710,NaN,308,0.616667,1.0,0.714286,11,3,1,1,...,0.2,0.6,0.00000,0.0,0.000,0.00,0.000,0.50,0.000,804
1221,710,NaN,435,0.458333,1.0,0.551020,3,2,1,13,...,0.1,0.5,-0.35000,-0.7,-0.125,0.30,1.000,0.20,1.000,1200
1222,710,NaN,119,0.705882,1.0,0.861538,1,0,0,1,...,0.1,1.0,-0.60000,-0.6,-0.600,0.00,0.000,0.50,0.000,8700
1223,710,NaN,993,0.449597,1.0,0.667870,2,1,1,0,...,0.1,1.0,-0.28581,-0.8,-0.050,0.85,0.625,0.35,0.625,1900

### Missing categories are no longer missing

## MV's Number Words Title

### Find out indexes of mvs

In [13]:
from datasets import get_mvs_of_feature

number_words_title_mvs = get_mvs_of_feature(popularity_data, [' number_words_title'])

display(number_words_title_mvs)

,days_article_dataset,number_words_title,number_words_content,rate_unique_words_content,rate_non_stop_words_content,rate_unique_non_stop_words_content,number_links,number_links_to_mashable,number_imgs,number_videos,...,min_polarity_in_positive_words,max_polarity_in_positive_words,avg_polarity_in_negative_words,min_polarity_in_negative_words,max_polarity_in_negative_words,title_sentiment_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
1220,710,NaN,308,0.616667,1.0,0.714286,11,3,1,1,...,0.2,0.6,0.00000,0.0,0.000,0.00,0.000,0.50,0.000,804
1221,710,NaN,435,0.458333,1.0,0.551020,3,2,1,13,...,0.1,0.5,-0.35000,-0.7,-0.125,0.30,1.000,0.20,1.000,1200
1222,710,NaN,119,0.705882,1.0,0.861538,1,0,0,1,...,0.1,1.0,-0.60000,-0.6,-0.600,0.00,0.000,0.50,0.000,8700
1223,710,NaN,993,0.449597,1.0,0.667870,2,1,1,0,...,0.1,1.0,-0.28581,-0.8,-0.050,0.85,0.625,0.35,0.625,1900

In [14]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer
from datasets import show_mvs

columns = [' number_words_title']
mvs_data = popularity_data[columns]

imp = SimpleImputer(strategy='median')
transformed_x= imp.fit_transform(mvs_data)
popularity_data[' number_words_title'] = transformed_x

display(popularity_data.loc[number_words_title_mvs.index])
show_mvs(popularity_data)

,days_article_dataset,number_words_title,number_words_content,rate_unique_words_content,rate_non_stop_words_content,rate_unique_non_stop_words_content,number_links,number_links_to_mashable,number_imgs,number_videos,...,min_polarity_in_positive_words,max_polarity_in_positive_words,avg_polarity_in_negative_words,min_polarity_in_negative_words,max_polarity_in_negative_words,title_sentiment_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
1220,710,10.0,308,0.616667,1.0,0.714286,11,3,1,1,...,0.2,0.6,0.00000,0.0,0.000,0.00,0.000,0.50,0.000,804
1221,710,10.0,435,0.458333,1.0,0.551020,3,2,1,13,...,0.1,0.5,-0.35000,-0.7,-0.125,0.30,1.000,0.20,1.000,1200
1222,710,10.0,119,0.705882,1.0,0.861538,1,0,0,1,...,0.1,1.0,-0.60000,-0.6,-0.600,0.00,0.000,0.50,0.000,8700
1223,710,10.0,993,0.449597,1.0,0.667870,2,1,1,0,...,0.1,1.0,-0.28581,-0.8,-0.050,0.85,0.625,0.35,0.625,1900

Empty DataFrame
Columns: [days_article_dataset,  number_words_title, number_words_content, rate_unique_words_content, rate_non_stop_words_content, rate_unique_non_stop_words_content, number_links,  number_links_to_mashable,  number_imgs,  number_videos,  average_word_length,  number_keywords, is_category_lifestyle, is_category_entertainment, is_category_business, is_category_socialmedia, is_category_tech, is_category_world,  kw_min_min,  kw_max_min,  kw_avg_min,  kw_min_max,  kw_max_max,  kw_avg_max,  kw_min_avg,  kw_max_avg,  kw_avg_avg,  self_reference_min_shares,  self_reference_max_shares,  self_reference_avg_sharess, is_monday, is_tuesday, is_wednesday, is_thursday, is_friday, is_saturday,  is_sunday,  is_weekend,  LDA_00,  LDA_01,  LDA_02,  LDA_03,  LDA_04, sentiment_subjectivity, sentiment_polarity,  global_rate_positive_words,  global_rate_negative_words,  rate_positive_words,  rate_negative_words,  avg_polarity_in_positive_words,  min_polarity_in_positive_words,  max_polarity_in_positive_words,  avg_polarity_in_negative_words,  min_polarity_in_negative_words,  max_polarity_in_negative_words,  title_sentiment_subjectivity,  title_sentiment_polarity,  abs_title_subjectivity,  abs_title_sentiment_polarity,  shares]
Index: []

[0 rows x 60 columns]

Empty DataFrame
Columns: [days_article_dataset,  number_words_title, number_words_content, rate_unique_words_content, rate_non_stop_words_content, rate_unique_non_stop_words_content, number_links,  number_links_to_mashable,  number_imgs,  number_videos,  average_word_length,  number_keywords, is_category_lifestyle, is_category_entertainment, is_category_business, is_category_socialmedia, is_category_tech, is_category_world,  kw_min_min,  kw_max_min,  kw_avg_min,  kw_min_max,  kw_max_max,  kw_avg_max,  kw_min_avg,  kw_max_avg,  kw_avg_avg,  self_reference_min_shares,  self_reference_max_shares,  self_reference_avg_sharess, is_monday, is_tuesday, is_wednesday, is_thursday, is_friday, is_saturday,  is_sunday,  is_weekend,  LDA_00,  LDA_01,  LDA_02,  LDA_03,  LDA_04, sentiment_subjectivity, sentiment_polarity,  global_rate_positive_words,  global_rate_negative_words,  rate_positive_words,  rate_negative_words,  avg_polarity_in_positive_words,  min_polarity_in_positive_words,  max_polarity_in_positive_words,  avg_polarity_in_negative_words,  min_polarity_in_negative_words,  max_polarity_in_negative_words,  title_sentiment_subjectivity,  title_sentiment_polarity,  abs_title_subjectivity,  abs_title_sentiment_polarity,  shares]
Index: []

[0 rows x 60 columns]

### Missing number words in title are no longer missing. There are no missing values anymore

# Feature Reduction

--> remove is_weekend 

--> remove is_sunday

--> remove LDA_00

--> remove average_word_length

--> remove avg_polarity_in_positive_words

--> remove avg_polarity_in_negative_words

--> remove global_rate_positive_words

--> remove max_polarity_in_positive_words

--> remove number_words_title

In [16]:
popularity_data = popularity_data.drop(' is_weekend', axis=1)
display(popularity_data.shape)
popularity_data = popularity_data.drop(' is_sunday', axis=1)
display(popularity_data.shape)
popularity_data = popularity_data.drop(' LDA_00', axis=1)
display(popularity_data.shape)
popularity_data = popularity_data.drop(' average_word_length', axis=1)
display(popularity_data.shape)
popularity_data = popularity_data.drop(' avg_polarity_in_positive_words', axis=1)
display(popularity_data.shape)
popularity_data = popularity_data.drop(' avg_polarity_in_negative_words', axis=1)
display(popularity_data.shape)
popularity_data = popularity_data.drop(' global_rate_positive_words', axis=1)
display(popularity_data.shape)
popularity_data = popularity_data.drop(' max_polarity_in_positive_words', axis=1)
display(popularity_data.shape)
popularity_data = popularity_data.drop(' number_words_title', axis=1)
display(popularity_data.shape)