In [21]:
from datasets import wine_red_dataset, wine_white_dataset
wine_red = wine_red_dataset()
wine_white = wine_white_dataset()

display(wine_red)
display(wine_white)

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,flavanoids,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,magnesium,alcohol,lightness,quality
0,1.0,7.4,0.70,0.00,1.9,0.08,0.53,11.0,34.0,1.0,3.51,0.56,0.86,9.4,0.109,5.0
1,2.0,7.8,0.88,0.00,2.6,0.10,0.53,25.0,67.0,1.0,3.20,0.68,0.56,9.8,0.107,5.0
2,3.0,7.8,0.76,0.04,2.3,0.09,0.53,15.0,54.0,1.0,3.26,0.65,0.47,9.8,0.106,5.0
3,4.0,11.2,0.28,0.56,1.9,0.08,0.53,17.0,60.0,1.0,3.16,0.58,0.33,9.8,0.111,6.0
4,5.0,7.4,0.70,0.00,1.9,0.08,0.53,11.0,34.0,1.0,3.51,0.56,0.91,9.4,0.107,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,flavanoids,free sulfur dioxide,total sulfur dioxide,density,pH,magnesium,sulphates,alcohol,lightness,quality
0,1,7,"0,27","0,36","20,7","0,045","0,38",45,170,"1,001",3,"0,46","0,45","8,8","0,13",6
1,2,"6,3","0,3","0,34","1,6","0,049","0,38",14,132,"0,994","3,3","0,56","0,49","9,5","0,11",6
2,3,"8,1","0,28","0,4","6,9","0,05","0,38",30,97,"0,9951","3,26","0,56","0,44","10,1","0,11",6
3,4,"7,2","0,23","0,32","8,5","0,058","0,38",47,186,"0,9956","3,19","0,53","0,4","9,9","0,12",6
4,5,"7,2","0,23","0,32","8,5","0,058","0,38",47,186,"0,9956","3,19","0,52","0,4","9,9","0,1",6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,4894,"6,2","0,21","0,29","1,6","0,039","0,38",24,92,"0,99114","3,27","0,26","0,5","11,2","0,1",6
4892,4895,"6,6","0,32","0,36",8,"0,047","0,38",57,168,"0,9949","3,15","0,85","0,46","9,6","0,12",5
4893,4896,"6,5","0,24","0,19","1,2","0,041","0,38",30,111,"0,99254","2,99","0,91","0,46","9,4","0,12",6
4894,4897,"5,5","0,29","0,3","1,1","0,022","0,38",20,110,"0,98869","3,34","0,24","0,38","12,8","0,08",7
4895,4898,6,"0,21","0,38","0,8","0,02","0,38",22,98,"0,98941","3,26","0,09","0,32","11,8","0,09",6

In [8]:
# Temporarily remove missing values
wine_red.dropna(inplace=True)

In [ ]:
# function to calculate model based on complete data

def calculate_model():
    wine_red_features_train, wine_red_features_test, wine_red_labels_test, wine_red_labels_test = train_test_split(wine_red_features, wine_red_labels, train_size=0.7, test_size=0.3, random_state=42)
    logistic_regression = LogisticRegression().fit(wine_red_features, wine_red_labels)
    return logistic_regression

def get_coefficients(model):

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Split data into features and label
# Includes removal of ID because it is no independent variable
wine_red_features = wine_red.drop('ID', axis=1).drop('quality', axis=1)
wine_red_labels = wine_red['quality']

print(wine_red_features.shape)
print(wine_red_labels.shape)

# Split data in test 30% and training 70%
wine_red_features_train, wine_red_features_test, wine_red_labels_train, wine_red_labels_test = train_test_split(wine_red_features, wine_red_labels, train_size=0.7, test_size=0.3, random_state=42)

# Calculate model
logistic_regression = LogisticRegression().fit(wine_red_features_train, wine_red_labels_train)

# Put coefficients in a new data frame and display it
regression_coefficients = pd.DataFrame({"Feature":wine_red_features_train.columns.tolist(),"Coefficients":logistic_regression.coef_[0]})
display(regression_coefficients)

# Calculate score for model R2, 1 is best, negative is worst
print('Wine red model score:\n', logistic_regression.score(wine_red_features_test, wine_red_labels_test))

(1565, 15)
(1565,)

                 Feature  Coefficients
0                     ID      0.000788
1          fixed acidity     -0.026597
2       volatile acidity     -0.000365
3            citric acid     -0.001121
4         residual sugar     -0.006563
5              chlorides     -0.000230
6             flavanoids     -0.001602
7    free sulfur dioxide     -0.030115
8   total sulfur dioxide     -0.080907
9                density     -0.003021
10                    pH     -0.009859
11             sulphates     -0.002323
12             magnesium     -0.001493
13               alcohol     -0.033268
14             lightness     -0.000297

Wine red model score:
 0.4765957446808511